<div style="padding: 1in">


  <div class="mat-card">
    <div class="mat-card-title">
      <div style="text-align: center; padding: 1em">
        Unit Testing for Beginners!
      </div>

    </div>
    <div class="mat-card-content">

      <div class="example-container">
        <mat-form-field [formGroup]="this.shoppingCart" appearance="fill">
            <mat-label>Input 1</mat-label>
            <input matInput formControlName="item1" [(ngModel)]="this.item1" [value]="this.item1">
          </mat-form-field>
        <mat-form-field [formGroup]="this.shoppingCart" appearance="fill">
            <mat-label>Input 2</mat-label>
            <input matInput formControlName="item2" [(ngModel)]="this.item2" [value]="this.item2">
          </mat-form-field>
        <mat-form-field [formGroup]="this.shoppingCart" appearance="fill">
          <mat-label>Input 3</mat-label>
          <input matInput formControlName="item3" [(ngModel)]="this.item3" [value]="this.item3">
        </mat-form-field>
        <div class="flex-container">
          <div class="mat-button" (click)="convertToNumbersAndCalculate()">
            <button mat-button>
              Calculate Total
            </button>
          </div>
          <div style="padding-top: 0.5em">
            {{totalPrice | currency }}
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
